/* marchandise pg css start */

section.marchandise-pg ul li a {
    font-size: 26px;
    text-transform: capitalize;
    font-family: "Copperplate-Gothic";
    color: #2B383E;
  }
  
section.merchandise-banner {
  padding: 60px 0;
}
  section.marchandise-pg {
    background: #fff;
    padding: 60px 0;
  }
  
  .marchandise-box {
    text-align: center;
  }
  
  .marchandise-box h2 {
    font-family: 'Copperplate-Gothic';
    font-size: 26px;
    color: #2B383E;
    line-height: 23px;
  }
  
  .marchandise-box h2 span {
    color: #2B383E;
    font-size: 19px;
  }
  
  .marchandise-box img {
    margin: 0px 0 20px 0;
    height: 270px;
    width: 100%;
    object-fit: contain;
  }
  
  section.marchandise-pg ul {
    border-right: 4px solid #e2a239;
    padding: 10px 0;
    height: 500px
  }
  
  section.marchandise-pg ul li {
    padding: 10px 0;
  }
  
  section.marchandise-banner {
    padding: 60px 0;
  }
  
  section.marchandise-banner h1 {
    color: #fff;
    font-size: 70px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  section.marchandise-banner h6 {
    font-size: 22px;
    line-height: 29px;
    text-transform: lowercase !IMPORTANT;
    font-family: 'Open Sans';
    font-weight: 400;
  }
  
  .marchandise-box h1 span {
    font-size: 15px;
  }
  
  /* marchandise pg css end */